# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
faiss_stock_hnsw.index
processed_files.txt
stock_csvs/
stock_embeddings.pkl
